body {
	background: #efefef;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #222222;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

h2 {
	font-weight: normal;
	margin: 20px 0;
	font-size: 28px;
}

p, select, input, td {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

select, input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	border: 1px solid #dddddd;
	border-radius: 2px;
	box-sizing: border-box;
	outline: none;
	color: #222222;
	padding: 5px 10px;
}

select:focus, input:focus {
	border-color: #1b5f73;
}

select {
	background: transparent url("../images/select.svg") no-repeat right center;
	text-align: center;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
	box-shadow: 0 1px 10px 0 #dddddd;
}

header menu {
	position: absolute;
	left: 20px;
	top: 0;
	bottom: 0;
	line-height: 60px;
	margin: 0;
	padding: 0;
}

header menu ul {
	position: relative;
	margin: 0;
	padding: 0;
}

header menu ul li {
	position: relative;
	display: inline-block;
}

header menu ul li a {
	position: relative;
	display: block;
	height: 60px;
	width: auto;
	line-height: 60px;
	color: #1b5f73;
	text-decoration: none;
	padding: 0 20px;
}

header menu ul li a:hover {
	background-color: #eeeeee;
}

header menu ul li a.active {
	background: #1b5f73;
	color: #ffffff;
	cursor: default;
}

content {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.45);
	display: none;
	pointer-events: none;
}
