.scanField, #control {
	position: absolute;
	top: 40px;
	bottom: 40px;
}

#borrower {
	left: 20px;
	right: 62%;
}

#item {
	right: 20px;
	left: 62%;
}

#control {
	left: 38%;
	right: 38%;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

h2 {
	text-align: center;
}

.scanField figure {
	position: absolute;
	margin: 0;
	width: 50%;
	margin-top: -50px;
	top: 50%;
	left: 25%;
}
.scanField figure img {
	position: absolute;
	width: 100%;
	margin-top: -50%;
}

.scanField p {
	position: absolute;
	display: block;
	margin-top: -50px;
	top: 90%;
	left: 25%;
	right: 25%;
	text-align: center;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #cccccc;
	border-radius: 2px;
	overflow: hidden;
	-webkit-user-select: all;
	-moz-user-select: all;
	user-select: all;
}

#control select {
	position: relative;
	display: block;
	width: 50%;
	left: 25%;
}

#confirm, #cancel {
	position: absolute;
	display: block;
	width: 50%;
	height: 50px;
	background-color: #319b42;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: 16px;
	box-sizing: border-box;
	cursor: pointer;
	top: 50%;
	left: 25%;
	margin-top: -30px;
	outline: none;
	padding: 0;
	line-height: 50px;
	display: none;
}

#confirm:active {
	background-color: #206f27;
}

#cancel {
	margin-top: 30px;
	background-color: #872025;
}

#cancel:active {
	background-color: #541016;
}
